.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 100%;
  padding: 8px;
}

.loader {
  border: 10px solid rgb(18, 18, 18);
  border-top: 10px solid #6973cf;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
